*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.clear{
   clear: both;
}

html{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
   padding: 11px 16px;
   background-color: #000;
   color: #fff;
   text-decoration: none;
   display: inline-block;
   margin-top: 15px;
   border: none;
}

.btn:hover{
   cursor: pointer;
   background-color: #ccc;
}

.row{
   margin-left:  -8px;
   margin-right: -8px;
}

.col{
   float: left;
   padding-left: 8px;
   padding-right: 8px;
}

.col2{
   width: 50%;
}

.col3{
   width: 33.3333%;
}

.col-full{
   width: 100%;
}

.text-center{
   text-align: center  !important;
}

#main {

}

#header {
   height: 46px;
   background-color: #000;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1;
}

#nav{
   display: inline-block;
}

#nav, 
.subnav {
   list-style: none;
}

#nav li{
   position: relative;  
}

#nav > li {
   display: inline-block;
}

#nav li a {
   color: #fff;
   text-decoration: none;
   line-height: 46px;
   padding: 0 24px;
   display: block;
}

#nav > li > a{
   text-transform: uppercase;
}
 
#nav li:hover .subnav{
   display: block;
}

#nav > li:hover > a,
#nav .subnav > li:hover > a{
   color :#000;
   background-color: #ccc;

}

#nav .subnav{
   display: none;
   position: absolute;
   background-color: #fff;
   box-shadow: 0  0  10px  rgba (0, 0, 0, 0.3);
}

#nav .subnav a{
   color: #000;
}

#nav .btn-down{
   font-size: 14px;
}

#header .btn-search{
   color: #fff;
   float: right;
   line-height: 46px;
   padding: 0 21px;
}

#header .btn-search:hover{
   cursor: pointer;
}

#slider {
   position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url("../img/silder1.jpg") top center / cover no-repeat ;
}

#slider .text{
   position: absolute;
   bottom: 32px;
   color: #fff;
   width: 100%;
   text-align: center;
}

#content {

}

#content .content-section{
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   padding: 64px 0 112px;
}

#content .section-heading{
   text-align: center;
   padding-top: 64px;
   letter-spacing: 4px;
   font-size: 30px;
}

#content .section-sub-heading{
   text-align: center;
   padding-top: 25px;
   font-style: italic;
   color: #ccc;
}

#content .about{
   text-align: justify;
   padding-top: 25px;
}

#content .member{
   margin-top: 48px;
}

#content .member-img{
   width: 154px;
   margin-top: 24px;
}

.tour{
   background-color: #000;
   width: 100%;
}

.ticket{
   background-color: #fff;
   list-style: none;
   margin-top: 40px;
}

.ticket li{
   padding: 8px 16px;
   border-bottom: 1px solid #ddd;
}

.ticket .sold-out{
   background-color: #f44336;
   color: #fff;
   padding: 4px 8px;
   margin-left: 16px;
}

.ticket .quantity{
   float: right;
   background-color: #000;
   color: #fff;
  border-radius: 50% ;
}

.palace-list{
   margin-top: 32px;
   margin-bottom: 50px;
}

.palace-img{
   width: 100%;
   display: block;
}

.palace-img:hover{
   opacity: 0.6;
}

.palace-body{
   padding: 16px;
   font-size: 15px;
   background-color: #fff;
}

.palace-heading{
   font-size: 15px;
}

.palace-time{
  margin-top: 20px;
   color: #ccc;
}

.palace-desec{
  margin-top: 20px;
}

.contact-content{
   margin-top: 48px;
}

.contact-info{
   font-style: 18px;
   line-height: 1.5;
}

.contact-info i[class*='ti-']{
   width: 30px;
   display: inline-block;
}

.contact-form{
   font-size: 15px;
}

.contact-form .form-control{
   padding: 10px;
   border: 1px solid #ccc;
   width: 100%;
}

.map-section img{
   width: 100%;
}

#footer {
   padding: 64px 16px;
   text-align: center;
}

.social{
   font-size: 24px;
}

.social a{
   text-decoration: none;
   color: #ccc;
}

.copyright,
 .copyright a{
   color: #ccc;
}